.box{
	padding:10px;
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 5px;
}
#headingAlign{
	padding: 5px;
	margin-top: 5px;
}
.flex-box{
	display: flex;
	flex-wrap: wrap;
}
.flex-item{	
	flex-grow: 1;
}
#headingName{
	padding:5px;
	margin-bottom: 5px;
}